body {
  color: black;
  font-family: "Raleway", sans-serif;
}

.navbar {
  margin: 10px 20px;
  display: flex;
  align-items: center;

  img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }

  .text {
    padding: 0px 15px;

    h1 {
      text-transform: lowercase;
      letter-spacing: 1px;
      font-weight: 700;
      margin: 0px;
    }

    p {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin: 5px 0px;
    }

    span {
      background: #FFEAE8;
      color: red;
      padding: 2.5px 5px;
    }
  }
}

.app {
  margin: 10px 20px;
  display: flex;

  .cities {
    width: 30%;

    .list-group-item {
      background-color: transparent;
      cursor: pointer;
    }

    .selected {
      background: #FFEAE8;
      color: red;
      font-weight: 700;
    }
  }

  .active-city {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;

    h3 {
      margin-top: 0;
      font-weight: 700;
    }

    img {
      width: 100%;
    }
  }
}
